{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{%
  set classes = [
    'inline-block',
    'inline-block-tabs',
    'clearfix',
]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <ul class="nav nav-tabs tabs__navigation" role="tablist">
    {% for index, item in block.field_tabs %}
      <li role="presentation"{{ loop.first ? ' class="active"' : '' }}>
        <a href="#{{ block.uuid.value }}-{{ index }}" aria-controls="#{{ block.uuid.value }}-{{ index }}" role="tab" data-toggle="tab">
          {{ item.entity.field_title|view }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content tabs__content">
    {% for index, item in block.field_tabs %}
      <div role="tabpanel" id="{{ block.uuid.value }}-{{ index }}" class="tab-pane{{ loop.first ? ' active' : '' }}">
        {{ item.entity.field_text|view }}
      </div>
    {% endfor %}
  </div>
</section>
