{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('vb_blocks/map') }}
{%
  set classes = [
  'inline-block',
  'inline-block-map',
  'clearfix',
]
%}

{% set address = [
  content.field_address['#items'].0.organization ? content.field_address.organization,
  content.field_address['#items'].0.address_line1,
  content.field_address['#items'].0.postal_code ~ ' ' ~ content.field_address['#items'].0.locality
]
%}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if block.field_api_key.value %}
    <div class="inline-block-map__map inline-block-map__map--js inline-block-map__map--no-cookies" data-address="{{ address|join(',') }}" data-key="{{ block.field_api_key.value|striptags }}" data-zoom="{{ block.field_map_zoom.value ? block.field_map_zoom.value : 16 }}" data-style="{{ block.field_map_style.value ? block.field_map_style.value|striptags|raw|url_encode : '[]' }}" data-markertext="{{ block.field_marker_text.value }}" data-marker="{{ block.field_marker_color.value ? block.field_marker_color.value|striptags|raw : '#b2122e' }}">
      <div id="map"></div>
      <p class="no-cookies">{{ 'This block contains content that requires you to allow @cookies.'|t({ '@cookies': 'statistics cookies' }) }} <a href="javascript:CookieConsent.renew();">{{ 'Change cookie settings'|t }}</a></p>
    </div>
  {% else %}
    <div class="inline-block-map__map inline-block-map__map--iframe inline-block-map__map--no-cookies">
      <iframe frameborder="0" data-src="https://maps.google.com/maps?q={{ address|join(',') }}&amp;output=embed&amp;z={{ block.field_map_zoom.value ? block.field_map_zoom.value : 16 }}"></iframe>
      <p class="no-cookies">{{ 'This block contains content that requires you to allow @cookies.'|t({ '@cookies': 'statistics cookies' }) }} <a href="javascript:CookieConsent.renew();">{{ 'Change cookie settings'|t }}</a></p>
    </div>
  {% endif %}
</section>

